body{
  background: #F3F3E9;
  padding-top: 70px;
}
.img-complete {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
 .btn-primary {
  background-color: #000000;
  border-color: #FFFFFF;
}
.carousel-inner, .btn-default {
  background-color: #A41C37;
  color: #FFFFFF;
}

.fa-shopping-cart  {
  color: #FFFFFF;

}
